<ul class="player-scores">
	<li><h2 class="profile-name"><%= @player.name.capitalize %></h2></li>
	<li>Games played: <span><%= (@player1_games.count + @player2_games.count) %></span></li>
	<li>Games won: <span><%= @player.games_won %></span></li>
	<li>Points: <span><%= @player.points %></span></li>
</ul>

<section class="player-scores">
	<ul class="player-scores">
		<li><h4>Your Game Results</h4></li>
	<% @games.each do |game| %>
		<% if game.player1_name == @player.name %>
			<li><%= @player.name.capitalize %>: <%= game.player_1_score %>
				<%= game.player2_name %>: <%= game.player_2_score %></li>
		<% else %>
			<% if game.player2_name == @player.name %>
				<li><%= game.player2_name %>: <%= game.player_2_score %>
				<%= game.player1_name %>: <%= game.player_1_score %></li>
					<% end %>
			<% end %>
		<% end %>
	</ul>
</section>
