
<body>



<table id="finals-table">
  <tr>
    <td><p>Quarter Final 1: </br>
      <p>Winner Group A:
      <% if @groupA.empty? %>
        To be confirmed
      <% else %>
        <%= @groupA.all(order: [:points.desc]).first.name %></p></td>
      <% end %></p>
      <p>Runner-up Group B:
        <% if @groupB.empty? %>
          To be confirmed
        <% else %>
          <%= @groupB.all(order: [:points.desc])[1].name %></p></td>
        <% end %></p>
  <td rowspan="2"><p>Winner Quarter Final 1</p></td>
  <td rowspan="4"><p>Winner Semi-Final 1</p></td>
  <td rowspan="8"><p>Champion</p></td>
 </tr>
 <tr>
  <td><p>Runner-up Group B</br>
    <% if @groupB.empty? %>
      To be confirmed
    <% else %>
      <%= @groupB.all(order: [:points.desc])[1].name %></p></td>
    <% end %>
 </tr>
 <tr>
  <td><p>Winner Group B: </br>
    <% if @groupB.empty? %>
      To be confirmed
    <% else %>
      <%= @groupB.all(order: [:points.desc]).first.name %></p></td>
    <% end %>
  <td rowspan="2"><p>Winner Quarter Final 2</p></td>
 </tr>
 <tr>
  <td><p>Runner-up Group A: </br>
    <% if @groupA.empty? %>
      To be confirmed
    <% else %>
      <%= @groupA.all(order: [:points.desc])[1].name %></p></td>
    <% end %>
 </tr>
 <tr>
  <td><p>Winner Group C: </br>
    <% if @groupC.empty? %>
      To be confirmed
    <% else %>
      <%= @groupC.all(order: [:points.desc]).first.name %></p></td>
    <% end %>
  <td rowspan="2"><p>Winner Quarter Final 3</p></td>
  <td rowspan="4"><p>Winner Semi-Final 2</p></td>
 </tr>
 <tr>
  <td><p>Runner-up Group D: </br>
    <% if @groupD.empty? %>
      To be confirmed
    <% else %>
      <%= @groupD.all(order: [:points.desc])[1].name %></p></td>
    <% end %>
 </tr>
 <tr>
  <td><p>Winner Group D: </br>
    <% if @groupD.empty? %>
      To be confirmed
    <% else %>
      <%= @groupD.all(order: [:points.desc]).first.name %></p></td>
    <% end %>
  <td rowspan="2"><p>Winner Quarter Final 4</p></td>
 </tr>
 <tr>
  <td><p>Runner-up Group C:
    <% if @groupC.empty? %>
      To be confirmed
    <% else %>
      <%= @groupC.all(order: [:points.desc])[1].name %></br></p></td>
    <% end %>
 </tr>
